.clearfix {
    clear: both;
}

.table th{
    font-size: 13px;
    text-align: center;
}

.table td {
    font-size: 12px;
    text-align: center;
}

a[data-toggle="collapse"] {
    display: block;
    width: 100%;
}