/******************************************************************************/
/* Landesbank Kreditkarten-Banking CSS Style v1.00 (2006-05-12)       */
/* erstellt durch DBS-DM Stefan Stute       */
/******************************************************************************/

body {
  margin:0;
	padding:0;
	height:100%;
	width:100%;
  z-index:0;
	border:0;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#000000; 
  background:url(../lbb_img/background.gif) white no-repeat;
}

/*** bilder *******************************************************************/

img.navtitellogo {
  visibility:hidden;
  display:none;
}

/*** tabellen *****************************************************************/

table#content {
  padding-top:0px;
	padding-right:20px;
	padding-bottom:12px;
	padding-left:20px;
	vertical-align:top;
}

table.metanav { 
	border:0px; 
}

table.navBackground {
	top:0px;
	margin:0px;
	width:224px;
  padding:0px 0px 0px 6px;
}

table.hpnav { 
  padding:0px;
	margin:0px;
}

td.metanav {
  height:18px;
}

td.metaarea {
   
}

td.hpnav { 
  border-style:solid; 
	border-width:0px 0px 1px 0px; 
	border-color:#dedbcf;
	padding-left:5px;
	width:140px; 
	height:17px;
  background:#f0eee5;	
}

td.hpnavaktiv { 
  border-style:solid; 
	border-width:0px 0px 1px 0px; 
	border-color:#dedbcf;
	padding-left:5px;
	width:140px; 
	height:17px;
  background:#e9e6dc;
}

td.hpdivider { 
  height:0px;
}

/*** absaetze *****************************************************************/

div.rand {
}

div.metabar {
  position:absolute;

	height:20px;
  width:988px;
  background:url(../lbb_img/meta.gif) #000034 no-repeat;
}

div.metaarea { 
  visibility:hidden;
  display:none;
}

div.metanavi { 
  position:absolute; 
	right:5px;
	top:2px; 
}

div.logo { 
  position:absolute;
  top:179px;
	left:0px;
	height:32px; width:118px;
}

div#haupt {
  position:absolute;
  left:0px;
	top:228px;
	width:235px;
	font-family:Arial,Helvetica,sans-serif; 
	font-size:11px;
	color:#000000;
}

/*** links ********************************************************************/

a.metanav { 
  font-family:Arial,Helvetica,sans-serif; 
	font-size:9px;
	color:#ffffff;
	text-decoration:none;
  white-space:nowrap;
  padding-right:5px; 	 
}

a:visited.metanav { 
  font-family:Arial,Helvetica,sans-serif; 
	font-size:11px;
	text-decoration:none; 
  white-space:nowrap;
}

a:link.metanav { 
  font-family:Arial,Helvetica,sans-serif; 
	font-size:11px;
	text-decoration:none; 
  white-space:nowrap;
}

a.metaarea { 
	visibility:hidden;
}

a.haupt { 
  font-family:Arial,Helvetica,sans-serif; 
	font-size:12px;
	color:#000000;
	text-decoration:none;
}

a:hover.haupt { 
  font-family:Arial,Helvetica,sans-serif; 
	font-size:12px;
	color:#000000;
	text-decoration:none;
}

a:visited.haupt { 
  font-family:Arial,Helvetica,sans-serif; 
	font-size:12px;
	color:#000000;
	text-decoration:none; 
}

a:link.haupt { 
  font-family:Arial,Helvetica,sans-serif; 
	font-size:12px;
	color:#000000;
	text-decoration:none; 
}

a.banner {
  text-decoration:none;
	border:0px;
}

a:hover.banner {
  text-decoration:none;
	border:0px;
}

a:visited.banner {
  text-decoration:none;
	border:0px;
}

a:link.banner {
  text-decoration:none;
	border:0px;
}

.hpnavaktiv a {
  color:#9f1438;
}

.tabdata a, .tabdata2 a, .tabtext a { 
  color:#000000;
  text-decoration:none;
	background:url(../lbb_img/link.gif) no-repeat;
	padding-left:20px;
}

.tabdata a:link, .tabdata2 a:link, .tabtext a:link {
  color:#000000;
  text-decoration:none;
	background:url(../lbb_img/link.gif) no-repeat;
	padding-left:20px;
}

.tabdata a:visited, .tabdata2 a:visited, .tabtext a:visited { 
  color:#000000;
  text-decoration:none;
	background:url(../lbb_img/link.gif) no-repeat;
	padding-left:20px;
}

.tabtext a[name],                    /* no red arrows for anchors and         */
.tabdata table tr td a,              /* browser recommendations on help page  */
.tabdata table tr td a:link,
.tabdata table tr td a:visited {
  background:none;
  padding-left:0px;
}

/*** ueberschriften ***********************************************************/

h1 {
  font:italic 18px Arial,sans-serif;
	color:#000034;
	text-decoration:none;
}

h2 {
	font-size:10pt;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:bold;
}

h3 { 
  font-family:Arial,Helvetica,sans-serif; 
	font-size:11pt; 
	color:#000000; 
	text-decoration:underline; 
	font-weight:bold; 
}

/*** druckseite ***************************************************************/

@media print
{
 .haupt, .metanavi, .logo, .metabar, .metaarea, .promRechts, .banner, td.hpnav, td.hpnavaktiv  { display:none; }
 .content         { position:relative; top:-20px; left:-150px; }
 .headline_pic    {	width:17cm; }
}

/*** kk-banking ***************************************************************/

hr {
	color:#999999;
}

.button_lbb {
	margin-right:30px;
	border:1px solid #767676;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	background:url(../lbb_img/button.gif) #f0eee5 no-repeat;
	padding-left:20px;
	cursor:pointer;
}

.info {
	border-style:solid; 
	border-width:0px 0px 0px 5px; 
	border-color:#9f1438;
	padding-left:5px; 
	width:100px; 
	height:21px;
}

.infoAktiv {
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	background:#000000;
	text-align:center;
	width:135px;
}

.input_tb {
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#000000;
	border:1px solid #767676;
	background:#ffffff;
}

.inputError {
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	color:#000000;
	border:1px solid #cc0000;
	background:#ffffff;
}

.promRechts {
	text-align:left;
	vertical-align:top;
  padding-top:7px;
	padding-left:10px;
	padding-right:14px;
}
.error {
    color: #A31919;
    border: 1px solid #A31919;
}
.message {
    color: #000;
    font-size: 12px;
    border: 1px #A31919 solid;
    background: #ffd;
    width: auto;
    margin: 10px 0;
    padding: 10px;
}.message h6 {
    font-size: 13px;
    margin: 0 0 .25em 35px;
    padding: 0;
}.message p {
    margin: 0 0 .25em 35px;
    padding: 0;
}.error span {
    background-position: 0 -75px;
}
.message span {
    background: url(../img/error-sprite.gif) no-repeat 0 0;background-position-y: -75px;
}
.message span {
    float: left;
    width: 25px;
    height: 25px;
    display: block;
}
.select {
	padding-right:3px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#000000;
	padding-left:3px;
	background:#ffffff;
	text-align:center;
}

.tabcenter {
	font-family:Arial,Helvetica,sans-serif; 
	font-size:13px; 
	color:#000000; 
	padding-left:2px;
	vertical-align:top;
	padding-right:2px;
	text-align:center;
}

.tabdata {
	font-family:Arial,Helvetica,sans-serif !important;
	font-size:12px !important;
	color:#000000	!important;
	padding-left:2px	!important;
	vertical-align:top	!important;
	padding-right:2px	!important;
	text-align:justify	!important;
}

.tabdata2 {
	font-family:Arial,Helvetica,sans-serif; 
	font-size:12px; 
	color:#000000; 
	padding-left:2px;
	vertical-align:top;
	padding-right:2px;
	text-align:justify;
  background:#f0eee5;
}

.tabdataright {
	font-family:Arial,Helvetica,sans-serif; 
	font-size:12px; 
	color:#000000; 
	padding-left:2px;
	vertical-align:top;
	padding-right:2px;
	text-align:right;
}

.tabError {
	font-family:Arial,Helvetica,sans-serif; 
	font-size:12px; 
	font-weight:bold;
	color:#000034;
	padding-left:2px;
	vertical-align:top;
	text-align:justify;
}

.tabhead {
	font-family:Arial,Helvetica,sans-serif; 
	font-size:12px; 
	font-weight:bold;
	color:#ffffff;
	padding-left:2px;
	vertical-align:top;
  background:#000034;
}

.tabtext {
	font-family:Arial,Helvetica,sans-serif; 
	font-size:12px; 
	font-weight:bold;
	color:#000000; 
	padding-left:2px;
	vertical-align:top;
}

.topBackground {
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px; 
	color:#000000; 
	background:#ffffff;
	padding-top:0px;
	padding-bottom:0px;
}

