.advanzia-Button {
  margin: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  cursor: hand;
  background: url("../advanzia_img/hborder.png") repeat-x 0px -27px;
  border: 1px outset #ccc;
  width:auto;
  overflow:visible;
}
.advanzia-Button:active {
  border: 1px inset #ccc;
}
.advanzia-Button:hover {
  border-color: #9cf #69e #69e #7af;
}
.advanzia-Button[disabled] {
  cursor: default;
  color: #888;
}
.advanzia-Button[disabled]:hover {
  border: 1px outset #ccc;
}

.advanzia-Button-red {
  margin: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  cursor: hand;
  background: red;
  color: white;
  border: 1px outset #ccc;
  width:auto;
  overflow:visible;
}
.advanzia-Button-red:active {
  border: 1px inset #ccc;
}
.advanzia-Button-red:hover {
  border-color: #9cf #69e #69e #7af;
}
.advanzia-Button-red[disabled] {
  cursor: default;
  color: #888;
}
.advanzia-Button-red[disabled]:hover {
  border: 1px outset #ccc;
}

.advanzia-Button-green {
  margin: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  cursor: hand;
  background: green;
  color: white;
  border: 1px outset #ccc;
  width:auto;
  overflow:visible;
}
.advanzia-Button-red:active {
  border: 1px inset #ccc;
}
.advanzia-Button-red:hover {
  border-color: #9cf #69e #69e #7af;
}
.advanzia-Button-red[disabled] {
  cursor: default;
  color: #888;
}
.advanzia-Button-red[disabled]:hover {
  border: 1px outset #ccc;
}

.gwt-DialogBox .Caption {
  background: #e3e8f3 url(../advanzia_img/hborder.png) repeat-x 0px -2003px;
  padding: 4px 4px 4px 8px;
  cursor: default;
  border-bottom: 1px solid #bbbbbb;
  border-top: 5px solid #d0e4f6;
}
.gwt-DialogBox .dialogContent {
}
.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}
.gwt-DialogBox .dialogBottomCenter {
  background: url(../advanzia_img/hborder.png) repeat-x 0px -4px;
  -background: url(../advanzia_img/hborder_ie6.png) repeat-x 0px -4px;
}
.gwt-DialogBox .dialogMiddleLeft {
  background: url(../advanzia_img/vborder.png) repeat-y;
}
.gwt-DialogBox .dialogMiddleRight {
  background: url(../advanzia_img/vborder.png) repeat-y -4px 0px;
  -background: url(../advanzia_img/vborder_ie6.png) repeat-y -4px 0px;
}
.gwt-DialogBox .dialogTopLeftInner {
  width: 5px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogBottomRightInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-DialogBox .dialogTopLeft {
  background: url(../advanzia_img/corner.png) no-repeat -13px 0px;
  -background: url(../advanzia_img/corner_ie6.png) no-repeat -13px 0px;
}
.gwt-DialogBox .dialogTopRight {
  background: url(../advanzia_img/corner.png) no-repeat -18px 0px;
  -background: url(../advanzia_img/corner_ie6.png) no-repeat -18px 0px;
}
.gwt-DialogBox .dialogBottomLeft {
  background: url(../advanzia_img/corner.png) no-repeat 0px -15px;
  -background: url(../advanzia_img/corner_ie6.png) no-repeat 0px -15px;
}
.gwt-DialogBox .dialogBottomRight {
  background: url(../advanzia_img/corner.png) no-repeat -5px -15px;
  -background: url(../advanzia_img/corner_ie6.png) no-repeat -5px -15px;
}
* html .gwt-DialogBox .dialogTopLeftInner {
  width: 5px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
}
* html .gwt-DialogBox .dialogBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}
.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

