.message {
    color: #000;
    font-size: 12px;
    border: 1px #A31919 solid;
    background: #ffd;
    width: auto;
    margin: 10px 0;
    padding: 10px;
}.message h6 {
    font-size: 13px;
    margin: 0 0 .25em 35px;
    padding: 0;
}.message p {
    margin: 0 0 .25em 35px;
    padding: 0;
}.error span {
    background-position: 0 -75px;
}
.message span {
    background: url(../img/error-sprite.gif) no-repeat 0 0;background-position-y: -75px;
}
.message span {
    float: left;
    width: 25px;
    height: 25px;
    display: block;
}